# Exploratory Analysis

Group project for the 2019 Data Science Workshop at the University of California, Berkeley.

The project is the Google Analytics Customer Revenue Prediction competition on Kaggle: https://www.kaggle.com/c/ga-customer-revenue-prediction

Group members:

* Andy Vargas (mentor)
* Yuem Park
* Marvin Pohl
* Michael Yeh

In [2]:
import pandas as pd
import math
import numpy as np
import json
import ast
import pandas_profiling
from pandas.io.json import json_normalize
import time
import os
import datetime

Load data:

Note that the data files are too large to upload to GitHub - instead, the directory `./data/` has been added to the .gitignore, which should contain the following files on your local machine, all downloaded from the Kaggle competition website:

* sample_submission_v2.csv
* test_v2.csv
* train_v2.csv

In [53]:
#def hits_converter(data):
#    return json.loads(json.dumps(ast.literal_eval(data)))

#def customDimensions_converter(data):
#    if data == '[]':
#        return {}
#    else:
#        return hits_converter(data)[0]

#too slow. Faster to load data, then convert columns to appropriate format.
#def load_df1(csv_path='data/train_v2.csv', nrows=None, skiprows=None):
#    conv_dict = {'device': ujson.loads,
#                'geoNetwork': ujson.loads,
#                'totals': ujson.loads,
#                'trafficSource': ujson.loads,
#                'hits': hits_converter,
#                'customDimensions': customDimensions_converter}
#    df = pd.read_csv(csv_path, 
#                     converters=conv_dict, 
#                     dtype={'fullVisitorId': 'str'}, # Important!!
#                     nrows=nrows)
#    return df

In [35]:
def load_df(csv_path, nrows=None):
    JSON_COLUMNS = ['device', 'geoNetwork', 'totals', 'trafficSource']
    
    df = pd.read_csv(csv_path, 
                     converters={column: json.loads for column in JSON_COLUMNS}, 
                     dtype={'fullVisitorId': 'str'}, # Important!!
                     nrows=nrows)
    
    for column in JSON_COLUMNS:
        column_as_df = json_normalize(df[column])
        column_as_df.columns = [f"{column}.{subcolumn}" for subcolumn in column_as_df.columns]
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    print(f"Loaded {os.path.basename(csv_path)}. Shape: {df.shape}")
    return df

In [2]:
def date_converter(yyyymmdd):
    #convert date from integer to datetime object
    return pd.to_datetime(yyyymmdd, format='%Y%m%d').date()

In [3]:
def slicer(start_date, num_days, csv_path = 'data/train_v2.csv'):
    #get rows whose dates lie in the num_days-long period beginning on start_date
    #input start_date as an integer YYYYMMDD
    start_date = pd.to_datetime(start_date, format='%Y%m%d').date()
    num_days = datetime.timedelta(num_days)
    reader = pd.read_csv(csv_path, chunksize=100000,
                         converters = {'date': date_converter},
                         dtype={'fullVisitorId': 'str'})
    chunks = []
    i = 0
    for chunk in reader:
        chunk = chunk[(chunk['date'] >= start_date) & (chunk['date'] < start_date + num_days)]
        chunks.append(chunk)
        i+=1
        print(f"Processed {i} chunks.")
    df = pd.concat(chunks)
    return df

In [ ]:
%%time
sample = slicer(20170128, 168)
sample = load_df('data/train_1-28-17_raw.csv')
#Loaded train_1-28-17_raw.csv. Shape: (369028, 60)

In [ ]:
test = slicer(20170830, 62)
test.shape
#(191863, 13)

In [64]:
for column in train:
    if train[column].nunique() == 1:
        train = train.drop(column, axis=1)

train=train.drop(['totals.totalTransactionRevenue', 'totals.transactionRevenue'], axis=1)
train=train.drop(['Unnamed: 0', 'hits', 'customDimensions'], axis=1)

target_copy = target[['fullVisitorId', 'totals.totalTransactionRevenue', 'totals.transactionRevenue']]

In [3]:
train=pd.read_pickle('data/train.pkl')

In [9]:
train.shape

(369028, 32)

In [3]:
target=pd.read_pickle('data/target.pkl')

In [6]:
target.shape

(191863, 3)

In [4]:
grouped=target.groupby('fullVisitorId')

In [17]:
pos = target[target['totals.totalTransactionRevenue'].apply(math.isnan)]

TypeError: must be real number, not str

In [20]:
dropped = target.dropna(axis=0)

In [41]:
dropped

,fullVisitorId,totals.totalTransactionRevenue,totals.transactionRevenue
433,9549826748224805897,17190000,15190000
550,3700714855829972615,13000000,8000000
555,1572225825161580042,65300000,57300000
597,7187192533100162289,25230000,18230000
619,7889233516776348524,16310000,12310000
634,1061090985384136368,51000000,44000000
650,4716737341148415941,46000000,42000000
654,8530613607503742741,22980000,15980000
657,852373578529854535,44940000,42940000
659,1617947618176891753,16690000,10690000
665,2030041108522427486,22590000,13590000
670,8377259727591618279,18390000,10390000
678,1447279966112382026,63090000,56090000
684,016787854108283646,65710000,62710000
685,6253907950302062343,68990000,59990000
692,5915581399835793502,124190000,122190000
694,1810825910197739134,17390000,15390000
698,0960484403338128999,49000000,44000000
699,7406976187075316319,19960000,18960000
701,4281040191770206312,42150000,35150000
709,5097087346105463693,34180000,27180000
713,7895381041766747549,18590000,13590000
715,309482894121265066,906430000,900430000
716,9291001063810206156,17120000,9120000
3193,0687460225813487841,52000000,44000000
3248,3192568753806448060,26990000,23990000
3343,0127023591980316160,127990000,119990000
3348,9889604268391942121,150460000,145460000
3419,7388569685498229285,429500000,423500000
3426,6010250598436085923,64750000,62750000
...,...,...,...
184500,2615099921505224175,52680000,50680000
184507,3704384142270256738,12990000,10990000
184510,7631391030368511298,334770000,327770000
187379,7085605736030391197,8500000,3500000
187381,5364591724861432329,36230000,30230000
187383,9349948718280073993,29480000,22480000
187384,8702999582699190690,42200000,35200000
187834,0793422792900713133,22990000,19990000
188171,5993778613825217385,5990000,2990000
188183,0907539586872319301,22740000,15740000
188239,8675880667124213191,20790000,12790000
188240,2285453962998851078,13990000,12990000
188242,8111929288195696321,28130000,27130000
188250,1609545438070301117,35500000,31500000
188256,3093424012456088881,12000000,11000000
188260,7666578252667086215,43390000,36390000
188261,3547195284957567797,49250000,40250000
188265,924091465796731445,17000000,16000000
188272,2821771662798412281,16000000,10000000
188273,1778490242015412729,102990000,99990000
188282,3514625367196491392,74780000,69780000
188285,8083980380187559470,185400000,178400000
188287,1332548425018622398,50000000,43000000
188290,8400727055805112068,41390000,38390000
188293,9926363397556562761,134730000,128730000
188295,32146067732211553,55590000,53590000
189887,0885271658938472569,8990000,2990000
189939,2998802905146406158,46000000,44000000
190030,4895710001891112950,88580000,81580000
190038,3758065895259476074,32870000,31870000

In [22]:
dropped[dropped['fullVisitorId'] == '9549826748224805897']

,fullVisitorId,totals.totalTransactionRevenue,totals.transactionRevenue
433,9549826748224805897,17190000,15190000

In [29]:
target[target['fullVisitorId'] == '9549826748224805897']

NameError: name 'target' is not defined

In [3]:
%%time
df=pd.read_csv('data/train_v2.csv', usecols=[2,4,8], converters={'totals': json.loads}, dtype={'fullVisitorId': 'str'})

Wall time: 1min 20s

In [4]:
%%time
column_as_df = json_normalize(df['totals'])
column_as_df.columns = [f"totals.{subcolumn}" for subcolumn in column_as_df.columns]
df = df.drop('totals', axis=1).merge(column_as_df, right_index=True, left_index=True)

Wall time: 25.1 s

In [5]:
revenue_df = df[['fullVisitorId', 'date', 'totals.totalTransactionRevenue', 'totals.transactionRevenue']]

In [6]:
revenue_df.dropna(axis=0).groupby('fullVisitorId').count()

,date,totals.totalTransactionRevenue,totals.transactionRevenue
fullVisitorId,,,
0000213131142648941,1,1,1
0000384434116640351,1,1,1
0001376836098133431,1,1,1
0002871498069867123,1,1,1
0003450834640354121,1,1,1
0003961110741104601,1,1,1
000435324061339869,1,1,1
0005735902306392332,1,1,1
0006911334202687206,1,1,1
0007617910709180468,1,1,1
0007933257389091624,1,1,1
0010295111715775250,1,1,1
0010664124684883628,2,2,2
0012224893830398338,1,1,1
0012276352424581690,2,2,2
0012561433643490595,1,1,1
0013296981549010416,1,1,1
0014253006455543633,1,1,1
0014262055593378383,3,3,3
0015950283479889703,1,1,1
0017260116665815114,1,1,1
0018386080117189534,1,1,1
0018400544049332170,1,1,1
001905118576359487,1,1,1
0019365888171672595,1,1,1
0020342483972052451,1,1,1
0020502892485275044,1,1,1
0021939395292136520,1,1,1
0022245165896119921,1,1,1
0023593003187413047,1,1,1
...,...,...,...
9979550771372989715,1,1,1
9979979376705372624,1,1,1
9980323391675823795,1,1,1
9980744929580264507,1,1,1
9981285001113442103,1,1,1
9981562221973608723,1,1,1
9982117639715718754,1,1,1
9982700667464896535,1,1,1
9982895886072793603,1,1,1
9983818873671577829,1,1,1
99879093370825436,1,1,1
9988272152672987767,1,1,1
9988302944430062788,1,1,1
9988700586657346958,1,1,1
9989175626794898064,1,1,1
9989256027389985761,1,1,1
9989464532696194885,1,1,1
9989467626464234556,1,1,1
9989795984216871126,1,1,1
9990183617359422098,2,2,2
9990797196896345494,1,1,1
9991633376050115277,1,1,1
9993533471142228023,1,1,1
999422255703756238,1,1,1
9994767073213036303,1,1,1
9997409246962677759,1,1,1
9998597322098588317,1,1,1
9998996003043230595,1,1,1
9999098287511113585,1,1,1
9999882818693474736,1,1,1

In [38]:
revenue_df[revenue_df['fullVisitorId'] == '0010664124684883628']

,fullVisitorId,date,totals.totalTransactionRevenue,totals.transactionRevenue
49555,0010664124684883628,20180103,NaN,NaN
1322374,0010664124684883628,20180118,NaN,NaN
1504800,0010664124684883628,20180214,NaN,NaN
1526620,0010664124684883628,20180212,NaN,NaN
1634353,0010664124684883628,20171003,27270000,19270000
1636796,0010664124684883628,20171003,NaN,NaN
1699394,0010664124684883628,20180209,47170000,39170000

In [8]:
revenue_df[revenue_df['fullVisitorId'] == '9990183617359422098']

,fullVisitorId,date,totals.totalTransactionRevenue,totals.transactionRevenue
62155,9990183617359422098,20170501,NaN,NaN
408275,9990183617359422098,20170426,NaN,NaN
554308,9990183617359422098,20170330,26380000,18380000
725221,9990183617359422098,20170414,NaN,NaN
944499,9990183617359422098,20170505,NaN,NaN
944520,9990183617359422098,20170505,NaN,NaN
1116463,9990183617359422098,20170413,NaN,NaN
1349443,9990183617359422098,20170427,133120000,131120000
1457955,9990183617359422098,20170404,NaN,NaN

In [7]:
revenue_df[revenue_df['fullVisitorId'] == '0012276352424581690']

,fullVisitorId,date,totals.totalTransactionRevenue,totals.transactionRevenue
313,0012276352424581690,20171016,NaN,NaN
93140,0012276352424581690,20170914,53980000,47980000
261293,0012276352424581690,20171009,NaN,NaN
702369,0012276352424581690,20171213,NaN,NaN
702591,0012276352424581690,20171213,NaN,NaN
840035,0012276352424581690,20170907,NaN,NaN
866905,0012276352424581690,20171214,NaN,NaN
867239,0012276352424581690,20171214,NaN,NaN
867291,0012276352424581690,20171214,2223770000,1111280000
868869,0012276352424581690,20171214,NaN,NaN
1019990,0012276352424581690,20170913,NaN,NaN
1211312,0012276352424581690,20171107,NaN,NaN
1211410,0012276352424581690,20171107,NaN,NaN
1378867,0012276352424581690,20170906,NaN,NaN
1498801,0012276352424581690,20171114,NaN,NaN
1618528,0012276352424581690,20170911,NaN,NaN
1634281,0012276352424581690,20171003,NaN,NaN
1634290,0012276352424581690,20171003,NaN,NaN